<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h2>Part1</h2>
  <label>
    xf
    <input type="text" formControlName="xf"/>
  </label>

  <label>
    xbh
    <input type="text" formControlName="xbh"/>
  </label>

  <label>
    xy
    <input type="text" formControlName="xy"/>
  </label>

  <h2>Part2</h2>
  <div formGroupName="familyInfo">
    <label>
      Most Cute:
      <input type="text" formControlName="mc"/>
    </label>

    <label>
      Most Beautiful:
      <input type="text" formControlName="mb"/>
    </label>
  </div>

  <h2>Part3</h2>
  <div formArrayName="others">
    <div *ngFor="let other of others.controls; let i=index;">
      <label>
        Other-{{i}}:
        <input type="text" [formControlName]="i" />
      </label>
    </div>
    <button (click)="addOthers()">Add</button>
  </div>

  <div class="footer">
    <button (click)="updateValue()">update</button>
    <button type="submit" [disabled]="!formGroup.valid">Submit</button>
  </div>

  <p>Form Status: {{ formGroup.status }}</p>
</form>
